@keyframes slideup {
    from {
        display: flex;
        transition-duration: 1s;
    }

    to {
        transform: translateY(-40px);
        opacity: 1;
    }
}

@keyframes slidedown {
    from {
        display: none;
        transition-duration: 1s;
    } to {
        transform: translateY(40px);
        opacity: 1;
    }
}



.main-component {
    /* position: relative;
    top: 100px;
    left: 250px; */
    margin: 20px;
    background-color: white;
    border-radius: 24px;
    width: 960px;
    animation: slidedown 300ms;
    animation: slideup 300ms;
}

.main-item-1 {
    display: flex;
    height: 200px;
}

.main-item-2 {
    display: flex;
    animation: slidedown 200ms;
}

.img-container {
    display: flex;
    justify-content: center;
    height: fit-content;
}
.img-container img {
    max-width: 100%;
    height: 10rem;
    border-radius: 10px;
    padding: 15px;
}

.product-infor {
    width: 60%;
}

.title {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.title h3 {
    margin: 0;
    font-weight: 700;
}

.title span {
    background-color: rgba(242, 245, 255, 1);
    border-radius: 10px;
    padding: 5px;
    margin-left: 10px;
}

.content {
   font-weight: 400;
   font-size: 18px;
   line-height: 28px;
   margin: 10px 0px 10px 0px; 
}
.scroll-1 {
    display: flex;
    align-items: center;
}
.scroll-1 span {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
}

.scroll-1 i{
   font-size: 16px;
   padding-left: 5px; 
}

.product-rate {
    border-left: 1px solid rgba(232, 232, 232, 1);
    padding: 20px 0px 10px 0px;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product-rate button {
    background-color: rgba(24, 166, 97, 1);
    padding: 10px 24px 10px 24px;
    border-radius: 38px;
    width: 156px;
    border: none;
    margin: 5px;
}

.rating {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    /* height: 449px; */
}

.rating label {
    color: #18A661;
    font-weight: 600;
    font-size: 32px;
    text-align: center;
    line-height: 29px;
}

.rating span {
    padding: 5px;
}

.rating i{
    padding-right: 3px; 
}

#more-info-btn label{
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    line-height: 16px;
    color: white;
    cursor: pointer;
}

.scroll-2 {
    display: flex;
    align-items: center;
}

.scroll-2 span{
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
}

.scroll-2 i {
    font-size: 16px;
    margin-left: 5px;
}

.product-highlights {
    /* display: flex; */
    padding: 20px 40px;
    width: 50%;
    border-top: 1px solid rgba(232, 232, 232, 1);
}

/* .container {
    display: flex;
} */

.sale {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 0px 20px;
}

.btn-group-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-group-2 {
    display: flex;
    flex-direction: column;
}

.btn-group-2 button {
    margin-bottom: 20px;
    border: 1px solid rgb(24, 166, 97, 1);
}

.item-container {
    margin: 0;

}

.sale {
    /* padding: 0px 40px 0px 40px; */
}

.scroll-btn {
    background-color: rgb(24, 166, 97, 1);
    border: 1px solid rgb(24, 166, 97, 1);
    border-radius: 38px;
    height: 36px;
    width: 36px;
    margin-left: 55px;
}

.goto-btn {
    color: rgb(24, 166, 97, 1);
    border: 1px solid rgb(24, 166, 97, 1);
    background-color: transparent;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    width: 93px;
    height: 36px;
    border-radius: 38px;
}

.banner {
    position: absolute;
    border-radius: 0px 0px 8px 8px;
    background-color: rgba(244, 164, 3, 1);
    color: white;
    width: 102px;
    padding: 10px;
    margin-left: 20px;
    text-align: center;
}

.hl-list li {
    font-size: 14px;
    line-height: 24px;
}

.brand-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
}

.brand-list li label {
    padding-left: 10px;
}

.brand {
    display: flex;
    align-items: center;
}

.text {
    width: 88%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hide {
    animation: slideup 200ms;
    display: none;
}

@media only screen and (max-width: 768px) {

    * {
        margin: 0;
        padding: 0;
        line-height: 15px;
        font-size: 12px;
        /* width: 60vw; */
    }

    .banner {
        padding: 10px 0px;
    }

    .main-component {
        width: 288px;
        animation: slideup 300ms;
    }

    .main-item-1 {
        /* flex-direction: column; */
        /* flex-wrap: wrap; */
        /* margin: 0;
        padding: 0; */
        flex-wrap: wrap;
        height: 250px;

    }

    .product-rate {
        order: 1;
        /* padding: 20px 0px 0px 0px; */
        width: 39%;
    }

    .product-rate .rating {
        position: relative;
        flex-direction: column;
        align-items: center;
        top: 20px;
        left: 10px;
    }

    .product-rate .rating span {
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .product-rate .btn-group-1 {
        position: relative;
        top: 70px;
        left: 85px;

    }

    #more-info-btn {
        width: 250px;
    }

    .btn-box {
        order: 3;
        height: 80px;
    }
    
    .btn-group-1 {
        height: 0;
    }

    .img-container {
        order: 2;
        padding: 5px 25px;
        margin: 0px;
    }

    .img-container .product-img {
        margin: 0px;
        padding: 0px;
    }


    .product-infor {
        margin: 0;
        padding: 0px 10px;
        font-size: 12px;
        order: 3;
        width: 32vw;
        padding-top: 0px;
        display: flex;
        flex-direction: column;
    }

    .title {
        order: 2;
        margin: 0px;
    }

    .product-infor .title h3 {
        font-size: 16px;
    }

    .product-infor .title span {
        font-size: 12px;
    }

    .content {
        order: 1;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 26px;
        font-size: 14px;
        margin: 0px;
        padding: 0px;
    }

    /* .btn-box {
        order: 3;
        height: 80vh;
    } */

    .scroll-1 {
        display: none;
    }

    .main-item-2 {
        display: block;
    }

    .product-highlights {
        padding: 10px;
        margin: 10px 0px 10px 0px;
        width: 100%;
    }

    .product-highlights h4 {
        margin: 12px 0px;
    }

    .brand-list li {
        padding-bottom: 20px;
        /* justify-content: center; */
    }

    /* .btn-group-2 {
        width: 80%;
        margin-left: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
    } */

    .sale {
        display: none;
    }

    .btn-group-2 button {
        border: 1px solid rgb(24, 166, 97, 1);
        margin: 0px 0px 15px 0px;
    }

    .scroll-btn {
        margin: 0px 30px;
    }
    .goto-btn {
        /* margin-left: 60px; */
        transform: rotate(90deg);
        text-transform: uppercase;
    }

    .hide {
        animation: slideup 200ms;
        display: none;
    }
}