$primary-color: #18A661;
$secondary-color: white;
$banner-color: rgba(244, 164, 3, 1);

/* text-style*/
$text-color-primary: #363636;
$text-color-secondary: white;

/*breakpoints*/
$screen-width: 768px;